# install tweepy

In [1]:
!pip install tweepy

Collecting tweepy
  Downloading tweepy-3.9.0-py2.py3-none-any.whl (30 kB)
Requirement already satisfied: six>=1.10.0 in /opt/conda/lib/python3.7/site-packages (from tweepy) (1.14.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/lib/python3.7/site-packages (from tweepy) (1.2.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /opt/conda/lib/python3.7/site-packages (from tweepy) (2.23.0)
Requirement already satisfied: requests>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->tweepy) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.0.1)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (2020.11.8)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (2020.11.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /opt/conda/lib/python3.7/site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Installing collected packages: tweepy
Successfully installed tweepy-3.9.0

# install GetOldTweets3

In [2]:
!pip install GetOldTweets3

Collecting GetOldTweets3
  Downloading GetOldTweets3-0.0.11-py3-none-any.whl (13 kB)
Requirement already satisfied: lxml>=3.5.0 in /opt/conda/lib/python3.7/site-packages (from GetOldTweets3) (4.5.0)
Collecting pyquery>=1.2.10
  Downloading pyquery-1.4.3-py3-none-any.whl (22 kB)
Requirement already satisfied: lxml>=3.5.0 in /opt/conda/lib/python3.7/site-packages (from GetOldTweets3) (4.5.0)
Collecting cssselect>0.7.9
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Installing collected packages: cssselect, pyquery, GetOldTweets3
Successfully installed GetOldTweets3-0.0.11 cssselect-1.1.0 pyquery-1.4.3

In [3]:
# Imports
import GetOldTweets3 as got
import pandas as pd

# Credentials and Authorization

In [4]:
import tweepy
consumer_key = "I8mPBrUN2jGSXCd85Rdrvz0xq"
consumer_secret = "z53SiNFlPHkPT8JT66qtzNsAT9gtXMcvpM6nAg3eYHI9GBhmY4"
access_token = "1331376961801904137-aBQRLq75ju0J9B8Oe5gOTtAvVZ7fq5"
access_token_secret = "BhO3ncc6XxzXYgVUcBXaxe5LqBiYx9zIK6AZRH9yW3Vkh"

In [5]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

# Query by Text Search

* Function is focused on completing the query then providing a CSV file of that query using panda

In [6]:
tweets = []

def text_query_to_csv(text_query,counts):
    try:
        # Creation of query method using parameters
        tweets = tweepy.Cursor(api.search,q=text_query).items(count)

        # Pulling information from tweets iterable object
        tweets_list = [[tweet.user.screen_name, tweet.text,] for tweet in tweets]

        # Creation of dataframe from tweets list
        # Add or remove columns as you remove tweet information
        tweets_df = pd.DataFrame(tweets_list,columns=['user', 'Text'])

        # Converting dataframe to CSV 
        tweets_df.to_csv('{}-tweets.csv'.format(text_query), sep=',', index = False)

    except BaseException as e:
        print('failed on_status,',str(e))
        #time.sleep(3)
         #username tweet.created_at,'Datetime',

In [11]:
# Input search query to scrape tweets and name csv file
# Max recent tweets pulls x amount of most recent tweets from that user
text_query = ' Sport '
count = 3000
#screen_name = screen_name
# Calling function to query X amount of relevant tweets and create a CSV file
text_query_to_csv(text_query, count)

# Save file csv

In [12]:
Sport= pd.read_csv('./ Sport -tweets.csv' )
Sport.head(3000)

                 user                                               Text
0           dante3346  @dannyb0y6 @trucifer_x I don't know how old yo...
1             67dmy19                     @NewsNationNow So not a sport.
2     Lautaro_Arribas  RT @MarianoReyOK: Matías Ledesma en "La 94 Spo...
3      AileenAdrienne  RT @BBCSport: Paul Pogba "has to change teams"...
4        mali_hussein  RT @SunChelsea: Meet Marina Granovskaia, the m...
...               ...                                                ...
2995      Aaliyah_ys2  RT @donachena: Mon hygiène de vie est horrible...
2996  ALEXANDREDECAS6  RT @anderbatist: COM O VASCO NO Z-4, SPORT x C...
2997          witho68  @wisey_9 No less a sport than gymnastics, sync...
2998     sportscardex  @SGCFinests @darrenrovell @Sothebys @GoldinAuc...
2999       djliddle75  All "sport" hunters are cowards . . . https://...

[3000 rows x 2 columns]